<h1>Transportadoras</h1>
    <%= link_to 'Cadastrar Transportadora', new_admin_shipping_company_path %>

    <% if @shipping_companies.any? %>
        <% @shipping_companies.each do |s| %>  
            <div>
                <h2><%=link_to s.brand_name, admin_shipping_company_path(s.id) %></h2>
                <dl>
                    <dt><strong>Razão Social: </strong></dt>
                    <dd><%= s.corporate_name %></dd>
                    <dt><strong>Status: </strong></dt>
                    <dd><%= s.status %></dd>
                </dl>
            </div>
        <% end %>
    
    <% else %>
        <p>Não há Transportadoras cadastradas</p>
    <% end %>