<h1>Rastreio de Produtos</h1>

<%= form_with url: '/home/search', method: :get do |form| %>
  <%= form.label :order_code, "Código de Rastreio" %>
  <%= form.text_field :order_code %>
  <%= form.submit "Procurar" %>
<% end %>


