@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-3 px-5 bg-[#0CA4A5] text-center mt-3 font-semibold;
  }

  .btn-secondary {
    @apply py-3 px-5 bg-[#0CA4A5] text-center mt-3 font-semibold;
  }

  h1 {
    @apply text-xl font-semibold pb-2;
  }

  .form {
    @apply flex flex-col items-center w-full;
  }

  .destaque-1 {
    @apply text-[#F2F4FF] font-bold;
  }

  .menu {
    @apply bg-[#131E5A];
  }

  .menu li {
    @apply w-[12%] text-center;
  }

  .menu li a:hover {
    @apply font-bold;
  }

  .field_with_errors {
    @apply;
  }

  .field {
    @apply max-w-[250px];
  }
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
