@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-3 px-5 bg-blue-900 text-center mt-3 font-semibold text-white rounded-full;
  }

  .btn-secondary {
    @apply py-3 px-5 bg-black text-center mt-3 font-semibold  text-white rounded-full;
  }

  .btn-active {
    @apply py-1 px-3 bg-green-600 text-center font-semibold text-white rounded-full;
  }

  .btn-accepted {
    @apply py-1 px-3 bg-yellow-600 text-center font-semibold text-white rounded-full;
  }

  .btn-inactive {
    @apply py-1 px-3 bg-gray-400 text-center font-semibold text-white rounded-full;
  }

  h1 {
    @apply text-xl font-bold pb-2;
  }

  .form {
    @apply flex flex-col items-center w-full;
  }

  .field {
    @apply max-w-[250px];
  }

  .menu-item {
    @apply px-3 py-3 hover:bg-blue-900 active:bg-blue-800 focus:outline-none focus:ring focus:ring-blue-800 rounded-full;
  }
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
